body{
    background:url(images/bg.jpg);
    background-attachment: fixed;
    color: white;
}
.container{
    text-align: center;
}
.body{
    background-color: red;
    color: white;
}
marquee{
    font-size: 18px;
    background: none;
}
.faq{
    text-align: center;
    background-color: white;
    color: blue;
}
.responsive{
    width: 100%;
    height: auto;
}
.faqcontent{
    text-align:justify;

}
.footer{
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    transition: ease-in-out;
    transition-duration: initial;
}
.footer a{
    color: red;
    width: 100%;
    height: auto;

}
.footer:hover{
    background-color: rgb(0, 153, 255);
    color: white;
    
}
.footer a:hover{
    color: blue;
}
